

.ion-item {
  padding-top: 0.5rem;
  color: #484848;


  ion-label {
    font-size: 0.35rem;
    line-height: 0.35rem;
    display: block;
    margin-bottom: 0.1rem;
    font-family: 'Quicksand-Bold';
    color: #484848;
  }

  .button {
    position: relative;
    border-bottom: 0.01rem solid #e4e4e4;
    padding-bottom: 0.2rem;
    padding-top: 0.15rem;

    ion-datetime-button {
      font-size: 0.5rem;
      --padding-start: 0;
      color: #484848;
      justify-content: flex-start;
      --ion-color-step-300: transparent;
      margin-left: -0.12rem;
      width: calc(100% + 0.12rem);
    }

    .icon-dropdown {
      width: 0.3rem;
      height: 0.3rem;
      background-size: 100% auto;
      background-position: center;
      position: absolute;
      right: 0;
      top: calc(50% - 0.15rem);
    }
  }
}
