// Flex box helper classes
.flex {
    display: flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    &.column {
        flex-direction: column;

        &.column-center {
            align-content: center;
        }

        &.column-space-between {
            align-content: space-between;
        }
    }

    &.center {
        justify-content: center;
    }

    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.middle {
        align-items: center;
    }

    &.stretch {
        align-items: stretch;
    }

    &.top {
        align-items: flex-start;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.grow {
        flex-grow: 1;
    }
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}
