.icon-logo {
    background: url(../assets/image/logo.png) no-repeat;
    background-size: contain;
}

.icon-tax {
    background: url(../assets/image/icon/tax.png) no-repeat;
    background-size: contain;
}

.icon-rent-utilities{
    background: url(../assets/image/icon/rent-utilities.png) no-repeat;
    background-size: contain;
}

.icon-shopping {
    background: url(../assets/image/icon/shopping.png) no-repeat;
    background-size: contain;
}

.icon-travel {
    background: url(../assets/image/icon/travel.png) no-repeat;
    background-size: contain;
}

.icon-income, .icon-salary {
  background: url(../assets/image/icon/income.png) no-repeat;
  background-size: contain;
} 
.icon-other-income {
    background: url(../assets/image/icon/other-income.png) no-repeat;
    background-size: contain;
}

.icon-food {
    background: url(../assets/image/icon/food.png) no-repeat;
    background-size: contain;
}

.icon-money {
    background: url(../assets/image/icon/money.png) no-repeat;
    background-size: contain;
}
.icon-money-black {
    background: url(../assets/image/icon/money-black.png) no-repeat;
    background-size: contain;
}
.icon-money-white {
    background: url(../assets/image/icon/money-white.png) no-repeat;
    background-size: contain;
}

.icon-cart {
    background: url(../assets/image/icon/cart.png) no-repeat;
    background-size: contain;
}

.icon-my-budget {
    background: url(../assets/image/icon/my-budget.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-advice {
    background: url(../assets/image/icon/my-advice.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-borrowings {
    background: url(../assets/image/icon/my-borrowings.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-dashboard {
    background: url(../assets/image/icon/my-dashboard.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-goals {
    background: url(../assets/image/icon/my-goals.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-growth {
    background: url(../assets/image/icon/my-growth.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-protection {
    background: url(../assets/image/icon/my-protection.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-my-spend {
    background: url(../assets/image/icon/my-spend.png) no-repeat;
    background-size: contain;
    display: block;
}

.icon-w-tax {
    background: url(../assets/image/icon/w-tax.png) no-repeat;
    background-size: contain;
}

.icon-w-rent-utilities {
    background: url(../assets/image/icon/w-rent-utilities.png) no-repeat;
    background-size: contain;
}

.icon-w-shopping {
    background: url(../assets/image/icon/w-shopping.png) no-repeat;
    background-size: contain;
}

.icon-w-travel {
    background: url(../assets/image/icon/w-travel.png) no-repeat;
    background-size: contain;
}

.icon-w-food {
    background: url(../assets/image/icon/w-food.png) no-repeat;
    background-size: contain;
}

.icon-back {
    background: url(../assets/image/icon/back.png) no-repeat;
    background-size: contain;
}

.icon-back-menu {
    background: url(../assets/image/icon/back.png) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.icon-check {
    background: url(../assets/image/icon/check.png) no-repeat;
    background-size: contain;
}

.icon-dropdown {
    background: url(../assets/image/icon/dropdown.png) no-repeat;
    background-size: contain;
}

.icon-calendar {
    background: url(../assets/image/icon/calendar.png) no-repeat;
    background-size: contain;
}

.icon-filter {
    background: url(../assets/image/icon/filter.png) no-repeat;
    background-size: contain;
}

.icon-sort {
    background: url(../assets/image/icon/sort.png) no-repeat;
    background-size: contain;
}

.icon-management {
    background: url(../assets/image/icon/management.png) no-repeat;
    background-size: contain;
}
.icon-w-management {
    background: url(../assets/image/icon/w-management.png) no-repeat;
    background-size: contain;
}
.icon-fund {
    background: url(../assets/image/icon/fund.png) no-repeat;
    background-size: contain;
}
.icon-w-fund {
    background: url(../assets/image/icon/fund.png) no-repeat;
    background-size: contain;
}
.icon-notifications {
    background: url(../assets/image/icon/notifications.png) no-repeat;
    background-size: contain;
}
.icon-w-notifications {
    background: url(../assets/image/icon/w-notifications.png) no-repeat;
    background-size: contain;
}
.icon-talk {
    background: url(../assets/image/icon/talk.png) no-repeat;
    background-size: contain;
}
.icon-w-talk {
    background: url(../assets/image/icon/w-talk.png) no-repeat;
    background-size: contain;
}
.icon-settings {
    background: url(../assets/image/icon/settings.png) no-repeat;
    background-size: contain;
}
.icon-w-settings {
    background: url(../assets/image/icon/w-settings.png) no-repeat;
    background-size: contain;
}
.icon-logout {
    background: url(../assets/image/icon/logout.png) no-repeat;
    background-size: contain;
}
.icon-w-logout {
    background: url(../assets/image/icon/w-logout.png) no-repeat;
    background-size: contain;
}


.icon-start-1-2 {
    background: url(../assets/image/icon/start-1-2.png) no-repeat;
    background-size: contain;
}

.icon-start-1-3 {
    background: url(../assets/image/icon/start-1-3.png) no-repeat;
    background-size: contain;
}

.icon-start-2-1 {
    background: url(../assets/image/icon/start-2-1.png) no-repeat;
    background-size: contain;
}

.icon-start-2-2 {
    background: url(../assets/image/icon/start-2-2.png) no-repeat;
    background-size: contain;
}

.icon-start-3-2 {
    background: url(../assets/image/icon/start-3-2.png) no-repeat;
    background-size: contain;
}

.icon-start-3-3 {
    background: url(../assets/image/icon/start-3-3.png) no-repeat;
    background-size: contain;
}

.icon-start-4-1 {
    background: url(../assets/image/icon/start-4-1.png) no-repeat;
    background-size: contain;
}

.icon-start-4-2 {
    background: url(../assets/image/icon/start-4-2.png) no-repeat;
    background-size: contain;
}

.icon-start-5-2 {
    background: url(../assets/image/icon/start-5-2.png) no-repeat;
    background-size: contain;
}

.icon-start-5-3 {
    background: url(../assets/image/icon/start-5-3.png) no-repeat;
    background-size: contain;
}


.icon-add {
    background: url(../assets/image/icon/add.png) no-repeat;
    background-size: contain;
}
.icon-close {
    background: url(../assets/image/icon/close.png) no-repeat;
    background-size: contain;
}
.icon-close-s {
    background: url(../assets/image/icon/close-s.png) no-repeat;
    background-size: contain;
}
.icon-facebook {
    background: url(../assets/image/icon/facebook.png) no-repeat;
    background-size: contain;
}

.icon-w-goal-travel {
    background: url(../assets/image/icon/w-goal-travel.png) no-repeat;
    background-size: contain;
}
.icon-w-goal-transport {
    background: url(../assets/image/icon/w-goal-transport.png) no-repeat;
    background-size: contain;
}
.icon-w-goal-shopping {
    background: url(../assets/image/icon/w-goal-shopping.png) no-repeat;
    background-size: contain;
}
.icon-w-goal-electronic-products {
    background: url(../assets/image/icon/w-goal-electronic-products.png) no-repeat;
    background-size: contain;
}
.icon-dots {
    background: url(../assets/image/icon/dots.png) no-repeat;
    background-size: contain;
}
