:host{
    height:100vh;
    overflow:hidden;
}
ion-header {
    height: 2.3%;
    /*opacity: 0.5;*/

    .blue-bar {
        width: 70%;
        height: 100%;
        background: #00a6e2;
    }

    .green-bar {
        width: 30%;
        height: 100%;
        background: #00d9bd;
    }
}

ion-content {
    position: relative;
    height: calc(100vh * 0.977);
    overflow: hidden;


    .logo {
        width: 41%;
        height: auto;
        margin: calc(100vh * 0.3) auto 0;
    }

    ion-icon {
        position: absolute;

        &.icon-start-1-2 {
            display: block;
            top: 57.5%;
            left: 35.5%;
            width: calc(100vw * 0.25);
            height: calc(100vw * 0.25);
            animation: start-1-2 3s ease;
            -webkit-animation: start-1-2 3s ease; /*Safari and Chrome*/
            @keyframes start-1-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 57.5%;
                }
            }

            @-webkit-keyframes start-1-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 57.5%;
                }
            }
        }

        &.icon-start-1-3 {
            display: block;
            top: 54.3%;
            left: 66%;
            width: calc(100vw * 0.3);
            height: calc(100vw * 0.3);
            animation: start-1-3 3s ease;
            -webkit-animation: start-1-3 3s ease;

            @keyframes start-1-3 {
                from {
                    top: 100%;
                }

                to {
                    top: 54.3%;
                }
            }

            @-webkit-keyframes start-1-3 {
                from {
                    top: 100%;
                }

                to {
                    top: 54.3%;
                }
            }
        }

        &.icon-start-2-1 {
            display: block;
            top: 65%;
            left: 6%;
            width: calc(100vw * 0.3);
            height: calc(100vw * 0.3);
            animation: start-2-1 3s ease;
            -webkit-animation: start-2-1 3s ease;

            @keyframes start-2-1 {
                from {
                    top: 100%;
                }

                to {
                    top: 65%;
                }
            }

            @-webkit-keyframes start-2-1 {
                from {
                    top: 100%;
                }

                to {
                    top: 65%;
                }
            }
        }

        &.icon-start-2-2 {
            display: block;
            top: 67%;
            left: 44%;
            width: calc(100vw * 0.28);
            height: calc(100vw * 0.28);
            animation: start-2-2 3s ease;
            -webkit-animation: start-2-2 3s ease;

            @keyframes start-2-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 67%;
                }
            }

            @-webkit-keyframes start-2-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 67%;
                }
            }
        }

        &.icon-start-3-2 {
            display: block;
            top: 76%;
            left: 25%;
            width: calc(100vw * 0.26);
            height: calc(100vw * 0.26);
            animation: start-3-2 3s ease;
            -webkit-animation: start-3-2 3s ease;

            @keyframes start-3-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 76%;
                }
            }

            @-webkit-keyframes start-3-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 76%;
                }
            }
        }

        &.icon-start-3-3 {
            display: block;
            top: 71%;
            left: 67.5%;
            width: calc(100vw * 0.3);
            height: calc(100vw * 0.3);
            animation: start-3-3 3s ease;
            -webkit-animation: start-3-3 3s ease;

            @keyframes start-3-3 {
                from {
                    top: 100%;
                }

                to {
                    top: 71%;
                }
            }

            @-webkit-keyframes start-2-1 {
                from {
                    top: 100%;
                }

                to {
                    top: 71%;
                }
            }
        }

        &.icon-start-4-1 {
            display: block;
            top: 83%;
            left: 2%;
            width: calc(100vw * 0.28);
            height: calc(100vw * 0.28);
            animation: start-4-1 3s ease;
            -webkit-animation: start-4-1 3s ease;

            @keyframes start-4-1 {
                from {
                    top: 100%;
                }

                to {
                    top: 83%;
                }
            }

            @-webkit-keyframes start-4-1 {
                from {
                    top: 100%;
                }

                to {
                    top: 83%;
                }
            }
        }

        &.icon-start-4-2 {
            display: block;
            top: 81%;
            left: 51%;
            width: calc(100vw * 0.22);
            height: calc(100vw * 0.22);
            animation: start-4-2 3s ease;
            -webkit-animation: start-4-2 3s ease;

            @keyframes start-4-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 81%;
                }
            }

            @-webkit-keyframes start-4-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 81%;
                }
            }
        }

        &.icon-start-5-2 {
            display: block;
            top: 88%;
            left: 30%;
            width: calc(100vw * 0.31);
            height: calc(100vw * 0.31);
            animation: start-5-2 3s ease;
            -webkit-animation: start-5-2 3s ease;

            @keyframes start-5-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 88%;
                }
            }

            @-webkit-keyframes start-5-2 {
                from {
                    top: 100%;
                }

                to {
                    top: 88%;
                }
            }
        }


        &.icon-start-5-3 {
            display: block;
            top: 87%;
            left: 72%;
            width: calc(100vw * 0.26);
            height: calc(100vw * 0.26);
            animation: start-5-3 3s ease;
            -webkit-animation: start-5-3 3s ease;

            @keyframes start-5-3 {
                from {
                    top: 100%;
                }

                to {
                    top: 87%;
                }
            }

            @-webkit-keyframes start-5-3 {
                from {
                    top: 100%;
                }

                to {
                    top: 87%;
                }
            }
        }
    }
}
