<ion-header class="top-bar flex center middle">
    <div class="blue-bar"></div>
    <div class="green-bar"></div>
</ion-header>
<ion-content>
    <ion-img class="logo" src="assets/image/logo.png"></ion-img>
    <ion-icon class="icon-start-1-2"></ion-icon>
    <ion-icon class="icon-start-1-3"></ion-icon>
    <ion-icon class="icon-start-2-1"></ion-icon>
    <ion-icon class="icon-start-2-2"></ion-icon>
    <ion-icon class="icon-start-3-2"></ion-icon>
    <ion-icon class="icon-start-3-3"></ion-icon>
    <ion-icon class="icon-start-4-1"></ion-icon>
    <ion-icon class="icon-start-4-2"></ion-icon>
    <ion-icon class="icon-start-5-2"></ion-icon>
    <ion-icon class="icon-start-5-3"></ion-icon>
</ion-content>
<!--start page-->