
<div class="tr flex start middle"
     *ngFor="let item of data;let i = index"
     [ngStyle]="{'height.px': 64 * (10 - i)/10}">
  <i class="icon icon-{{getIconName(item.category)}}"
     [ngStyle]="{'width.px': 64 * (10 - i)/10,
                   'height.px': 64 * (10 - i)/10,
                   'left': 'calc(50% - 32px * (10 - '+ i +' ) / 10)'}"></i>
  <div class="instruction flex column center">
    <div class="category">{{item['category']}}</div>
    <hr />
    <div class="flex bottom number"
         [ngClass]="{'start' : i % 2 === 1,
                         'end' : i % 2 === 0}">
      <div class="amount">${{item['amount']}}</div>
      <div class="dot">.</div>
      <div class="percent">{{item['percent']}}%</div>
    </div>
  </div>
</div>
