<ion-content #buttons>
    <div class="top-content">
        <div class="bk-content">
            <i class="icon-menu-button" (click)="menuOpen()"></i>
            <div class="title">Money Management</div>
            <div class="flex space-between top number">
                <div class="left-txt">BUDGET LEFT</div>
                <div class="flex end top right-txt">
                    <div class="dollar">$</div>
                    <div class="budget">{{budgetLeft}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="buttons" ></div>
</ion-content>
