

.goal-card {
  text-align: left;
  margin: 0;
  width: calc(100vw - 0.42rem * 2);
  border-radius: 0.1rem;
  margin-right: 0.07rem;
  border: 0.01rem solid rgba(245, 245, 245, 0.7);
  overflow: hidden;
  box-shadow: none;

  .left-part {
    width: 27.5%;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;

    &.transport {
      background: linear-gradient(to bottom right,#08a4e1,#0383d2 );
    }

    &.travel {
      background: linear-gradient(to bottom right,#46c583,#29ac5e );
    }

    &.shopping {
      background: linear-gradient(to bottom right,#ffa600,#ff8500 );
    }

    &.electronic-products {
      background: linear-gradient(to bottom right,#ff5a5a,#ff3838 );
    }

    .icons {
      display: block;
      border-radius: 0.05rem;
      width: 1.35rem;
      height: 1.35rem;
    }
  }

  .right-part {
    width: calc(100% - 27.5%);
    padding: 0.42rem;
    padding-bottom: 0.3rem;

    .type {
      font-size: 0.38rem;
      text-transform: uppercase;
      font-family: 'Quicksand-Bold';
    }

    .date {
      color: #939393;
      font-size: 0.36rem;
    }



    .percentage {

      .dollar {
        font-size: 0.46rem;
        line-height: 0.46rem;
      }

      .number {
        font-size: 0.76rem;
        line-height: 0.76rem;
      }
    }

    .goal {
      color: #939393;
    }

    .progress {
      height: 0.23rem;
      width: 100%;
      background-color: #f8f8f8;
      margin: 0.5rem 0 0.32rem;
      border-radius: 0.15rem;

      .progress-bar {
        height: 100%;
        width: 100%;
        border-radius: 0.4rem;


        &.transport {
          background: linear-gradient(to right,#0383d2,#08a4e1 );
        }

        &.travel {
          background: linear-gradient(to right,#29ac5e,#46c583 );
        }

        &.shopping {
          background: linear-gradient(to right,#ff8500,#ffa600 );
        }

        &.electronic-products {
          background: linear-gradient(to right,#ff3838,#ff5a5a );
        }
      }
    }
  }
}
