@import 'src/styles/font';
/*ion-content*/
:host {
  position: relative;


  ion-slides {
    height: 100%;
    height: calc(100vh - (0.85rem + 0.55rem + 0.6rem) - 0.8rem * 2 - (2rem + 0.32rem));

    ion-slide {
      display: block; 

      app-slide-3-list {
        ::ng-deep {
          .tr:nth-of-type(1) {
          }
        }
      }
    }
  }
}
