 
.title-nav {
    margin: 0 0.42rem 0.8rem; 

    .page-title {
        color: #484848;
        font-size: 0.8rem;
        line-height: 0.8rem;
        font-weight: bold;
        letter-spacing: 0;
    }

    .date {
        color: #939393;
        font-size: 0.28rem;
    }
}
