
.top-nav {
    padding: 0.85rem 0.42rem 0.6rem;

    .icon-menu-button {
        background: url(../../../assets/image/icon/menu-button-blue.png) no-repeat;
        background-size: contain;
        background-position: center;
        width: 0.55rem;
        height: 0.55rem;
        display: block;
    }

    .icon-back {
        background-size: auto 100%;
        width: 0.55rem;
        height: 0.35rem;
        display: block;
    }

    .right-nav, .left-nav, .right-nav a {
        font-size: 0.5rem;
        line-height: 0.5rem;
        color: #08a5e1;
        font-family: 'Quicksand-Bold';

        span {
            margin: 0 0.15rem;
        }
    }

    .icon-calendar {
        background-size: 100% 100%;
        width: 0.5rem;
        height: 0.5rem;
        display: block;
        margin-right: 0.4rem;
    }

    .icon-filter {
        background-size: auto 100%;
        width: 0.5rem;
        height: 0.5rem;
        display: block;
    }
}
