<ion-card class="flex column space-between detail-content">
  <div class="flex space-between middle
              card-title-content">
    <div class="flex start middle">
      <i class="icon icon-my-spend"></i>
      <div class="card-title">{{title}}</div>
    </div>
    <div class="flex end middle">
      <div class="card-money">
        {{
'$'+ numberWithCommas(data?.count) +' of $'
                    + numberWithCommas(data?.budget) +' '
        }}
      </div>
      <div class="spent">spent</div>
    </div>
  </div>
  <app-card-2-item [data]="data?.items" [expand]="expand"></app-card-2-item>
  <a href="javascript:;" *ngIf="!expand" (click)="expand = true;"
     class="view">View +{{getMore(data?.items)}}categories</a>
</ion-card>
